.options ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  padding: 0; 
}

.options li {
  float: left;
}

.newcategory input {
  float: left; 
}

.newentry {
  text-align: left;
  display: block;
  /* list-style-position: inside; */
}

.newentry div {
  float: left;
  text-align: left;

}
