.dropdown {
  position: relative;
  margin-left: 50%; /* More to the left */
  margin-right: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Bottom of button */
  right: 0;
  margin-left: 50%; /* More to the left */
  margin-right: 50%;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}