html {
    font-size: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: ivory;
}

ul {
    text-align: left;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.header img {
    position: absolute;
    width: 90px;
    height: 90px;
    right: 30px;
    top: 2px;
}
  
.header h1 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 18px;
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #375e97;
    text-align: left;
}

.header h1 a{
    text-decoration: none;
    color: #375e97;
}

.topnav {
    overflow: hidden;
    background-color: #375e97;
    text-align: left;
    border-radius: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: ivory;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topnav a:hover {
    background-color: ivory;
    border-radius: 5px;
    color: black;
}

.box {
    border: 3px solid;
    border-color: #375e97;
    box-shadow: 5px 10px #888888;
    border-radius: 25px;
    padding: 9px;
    text-align: center;
} 

.listbox {
    border: 3px solid;
    border-color: #375e97;
    box-shadow: 5px 10px #888888;
    border-radius: 25px;
    padding: 9px;
    text-align: center;
    width: 800px;
    /* margin: auto 25%; */
} 

.listblock {
    justify-content: space-around;
}

.listflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-around;   
}

.flexitem {
    background-color: #375e97;
    border-radius: 0.5em;
    padding-left: 0;
    padding-right: 1em;
    box-shadow: 2px 4px #888888;
    margin: 15px 0 0 0;
}

.flotcontainer {
    width: 600px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

#flotcontainer:after {
    content: '$';
    position: absolute;
    top: 35%;
    left: -30px;
    font-weight: 600;
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#flotcontainer:before {
    content: 'Time';
    position: absolute;
    bottom: -30px;
    left: 50%;
    font-weight: 600;
}

.plotbox {
    border: 3px solid;
    border-color: #375e97;
    box-shadow: 5px 10px #888888;
    border-radius: 25px;
    padding: 40px;
    text-align: center;  
    display: none;
}
